#mnews{
	width: 80%;
	height: 470;
	margin:0 auto;
	box-shadow:         3px 3px 5px 1px #ccc;
	

}
p{	
	margin-block-start: 0%;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
#ntext{
	width: 35%;	
	height: 100%;
	background-color: #00285e;
	float: left;

}
#nt1{
	padding-left: 7%; 
	box-sizing: border-box;
	line-height: calc(30/18);
}
#nt1 h6{
	margin: 0 0 2px;
    padding: 0;
	color: #72e9ff;
	font-size: 20;
	margin-block-start: 7%;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#nt1 h3{
	font-weight: 700;
	font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B",Arial;
	color: #fff;
	margin: 2px 0 0;
	letter-spacing: -1px;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#nimg{
	
	width:65%;
	height: 100%;
	float: left;
}
.ni{
	width: 100%;
	height: 100%;
}

.hov:hover .h{
	  box-shadow: inset 0 -1.5px white, inset 0 -2px blue;


}

.add-sec{
	width: 80%;
	height:250px;
	margin-left: auto;
	margin-right: auto;
	background-color: f6f6f8;
}
.spons{

	display: inline-flex;
	padding-top: 24px;
	padding-bottom: 24px;

}
.comp{
	width: 29%;
	padding-left: 3.5%;
	height: 200px;

}
.comp-img{
	width: 100%;
	height: 200;

}


.citizen{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.citizen-logo{
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
.log{
	width: 100%;
	height: 100%;
}
#login-container{
	width: 65%;
	height: 350;
	margin:0 auto;
	box-shadow:         3px 3px 5px 1px #ccc;
}
#login-text{
	width: 35%;	
	height: 100%;
	float: left;
}
#login-heading{
	padding-left: 7%; 
	box-sizing: border-box;
	line-height: calc(30/18);
}
#login-heading p{
	margin: 0 0 2px;
	color: black;
    padding: 0;
    font-size: 10;
	margin-block-start: 7%;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#login-heading h6{
	font-weight: 700;
	font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B",Arial;
	color: black;
	font-size: 24px;
	margin: 2px 0 0;
	padding-top: 10px;
	line-height: 1;
	letter-spacing: -1px;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#butt{
	padding-top: 60%;
	padding-left: 10px;
}
#my-citizen{
	background: none;
    height: 10%;
    width: 50%;
    border: solid;
    border-width: 1.1px;
    text-align: left;
}
.butt-layout{
	display: inline-flex;
}
#butt-p{
	padding-left: 3px;
	color: black;
	padding-top: 8px;
	font-weight: 700;
	letter-spacing: 0.5px;
	display:-webkit-inline-box;

}
.arw{
	padding-left: 23%;
	width: 10%;

}
.arrow{
	width: 100%;
	height: 100%;
}
.hovv:hover .login-main{
	  box-shadow: inset 0 -1px white, inset 0 -2px black;
}

#my-citizen:hover {
	background:gray;
	color: black;

}
.spons1{

	display: inline-flex;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 90%;
	margin-right:auto;
	margin-left: auto;

}
.gif{
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 8%;

}